<!doctype html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="./stylesheets/game.css">
    <script src="https://cdn.socket.io/socket.io-1.7.3.js"></script>
</head>

<body>
<div class="container">

    <div class="jumbotron text-center">
        <h3>The game</h3>

        <canvas id="game-canvas" width="800" height="600"></canvas>
    </div>

</div>

<script src="./javascripts/character.js"></script>
<script src="./javascripts/game.js"></script>

</body>
</html>